<h2 class="text-center">Add new offer</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="tb-title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tb-title">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tb-address">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-contact" class="col-sm-2 control-label">Contact</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tb-contact">
        </div>
    </div>
    <div class="form-group">
        <label for="sel-type" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-4">
            <select class="form-control" id="sel-type">
                {{#each this}}
                <option value="{{Id}}">{{Name}}</option>
                {{/each}}
            </select>
        </div>
        <label for="tb-year" class="col-sm-2 control-label">Building year</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" id="tb-year" min="1500">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-selling-price" class="col-sm-2 control-label">Selling price</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="number" class="form-control" id="tb-selling-price" step="0.01" min="0">
                <div class="input-group-addon">&euro;</div>
            </div>
        </div>
        <label for="tb-renting-price" class="col-sm-2 control-label">Renting price</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="number" class="form-control" id="tb-renting-price" step="0.01" min="0">
                <div class="input-group-addon">&euro;</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tb-description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="tb-description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="btn-create" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
