<div class="col-sm-offset-1 col-sm-4">
    <h3>{{title}}</h3>
    <p><strong>Added: </strong>{{createdOn}}</p>
    <p>
        <strong>Type: </strong> {{type}}
    </p>
    <p>
        <strong>Built: </strong> {{constructionYear}}
    </p>
    <p><strong>Address: </strong>{{address}}</p>

    {{#if canBeSold}} <p>
        Sell:   <strong>{{sellingPrice}} &euro;</strong>
    </p>
    {{/if}}
    {{#if canBeRented}} <p>
        Rent: <strong>{{rentingPrice}} &euro;</strong>
    </p>{{/if}}

    {{#if contact}}
    <p>
        <strong>Contact: </strong> {{contact}}
    </p>
    {{/if}}
    <div class="panel panel-default">
        <div class="panel-heading">Details on this offer</div>
        <div class="panel-body">{{description}}</div>
    </div>

    {{#if commentsAccessible}}
    <div>
        <h3>Comments</h3>
        <div id="comments"></div>
        <div class="form-horizontal">
            <div class="form-group">
                <textarea class="form-control" id="comment-content" placeholder="Post your comment"></textarea>
            </div>
            <button type="submit" class="btn btn-default" id="btn-add-comment">Add comment</button>
        </div>
    </div>
    {{/if}}

    <div class="fb-like" data-href="http://realestatessystem.apphb.com/#/estate/details/{{Id}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>

