<div class="col-sm-offset-1 col-sm-4">
    <h3>{{title}}</h3>
    <ul>
        <li><strong>Added: </strong>{{createdOn}}</li>
        <li>
            <strong>Type: </strong> {{type}}
        </li>
        <li>
            <strong>Built: </strong> {{constructionYear}}
        </li>
        <li><strong>Address: </strong>{{address}}</li>

        {{#if canBeSold}}
        <li>
            Sell:   <strong>{{sellingPrice}} &euro;</strong>
        </li>
        {{/if}}
        {{#if canBeRented}}
        <li>
            Rent: <strong>{{rentingPrice}} &euro;</strong>
        </li>{{/if}}

        {{#if contact}}
        <li>
            <strong>Contact: </strong> {{contact}}
        </li>
        {{/if}}
    </ul>
    <div class="panel panel-default">
        <div class="panel-heading">Details on this offer</div>
        <div class="panel-body">{{description}}</div>
    </div>

    {{#if commentsAccessible}}
    <div>
        <h3>Comments</h3>
        <div id="comments"></div>
        <div class="form-horizontal">
            <div class="form-group">
                <textarea class="form-control" id="comment-content" placeholder="Post your comment"></textarea>
            </div>
            <button type="submit" class="btn btn-default" id="btn-add-comment">Add comment</button>
        </div>
    </div>
    {{/if}}

    <div class="fb-like" data-href="http://realestatessystem.apphb.com/#/estate/details/{{id}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>

