{{#result}}
<h4>Profile of {{username}}</h4>

<h4>Materials:</h4>
<ul>
{{#userMaterials}}
<hr/>
<li><a href="#/materials/{{id}}">{{title}}</a></li>
Current category: {{category}}
{{/userMaterials}}
</ul>
{{/result}}